<% if current_user %>
  <h1>You are signed in!</h1>
  <p>User: <%= current_user.name %><br />
    <a href='/logout' class="pure-button pure-button-primary">
      Sign out
    </a>
  </p>
<% else %>
    <h1>You need to sign in to continue</h1>
    <p>
      <a href="/sign_in" class="pure-button pure-button-primary">
        Sign in
      </a>
      or
      <a href='/users/new' class="pure-button pure-button-primary">
        Register
      </a>
    </p>
<% end %>
