<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'pure' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="content" style="max-width: 50em; margin: auto">
      <div class="pure-g">
        <div class="pure-u-1">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
